* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgb(195, 228, 195);
}

body > nav > ul {
  display: flex;
  flex-direction: row;
}

body > nav > ul > li {
  padding: 12px;
}

footer > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer > nav > ul > li {
  padding: 12px;
}

main {
  padding: 10px;
}

.article-picture-left {
  float: left;
  margin-right: 20px;
}

.article-picture-right {
  float: right;
  margin-left: 20px;
}

.post-title {
  margin-bottom: 5px;
  font-size: 27px;
  line-height: 45px;
}

.post-paragraph {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 25px;
}

.shoot-left {
  float: left;
}

.shoot-right {
  float: right;
}

.shoot-shoot-clear-both {
  clear: both;
}

footer {
  padding: 16px;
  background-color: rgb(195, 228, 195);
  text-align: center;
}
